{% extends 'index.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if messages %}
		<div class="list-group">
		  {% for message in messages %}
		  <div class="list-group-item list-group-item-danger">{{ message }}</div>
		  {% endfor %}
		</div>
		{% endif %}
            <form method="post" enctype="multipart/form-data" class="mt-5">
                {% csrf_token %}
                <div class="form-group">
                    <label for="avatar_url">{% trans "Avatar URL:" %}</label>
                    <input type="text" class="form-control" name="avatar_url" id="avatar_url">
                </div>

                <div class="form-group">
                    <label for="avatar_file">{% trans " or Upload Avatar:" %}</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="avatar_file" id="avatar_file">
                        <label class="custom-file-label" for="avatar_file">{% trans "Choose file" %}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="static_avatar">{% trans "or Choose an Avatar:" %}</label>
                    <select class="form-control" name="static_avatar" id="static_avatar" onchange="updateAvatarPreview()">
                        {% for filename, fileurl in available_avatars %}
                            <option value="{{ filename }}" data-img-src="{{ fileurl }}">{{ filename }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="avatar_preview" class="mb-3 text-center">
                    <!-- Preview will be inserted here -->
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">{% trans "Change Avatar" %}</button>
                </div>
            </form>

            <script>
                function updateAvatarPreview() {
                    var select = document.getElementById('static_avatar');
                    var previewDiv = document.getElementById('avatar_preview');
                    var selectedOption = select.options[select.selectedIndex];
                    var imgUrl = selectedOption.getAttribute('data-img-src');
                    
                    // Clear current preview
                    previewDiv.innerHTML = '';
                    
                    if (imgUrl) {
                        var img = new Image();
                        img.src = imgUrl;
                        img.alt = 'Selected Avatar';
                        img.style.maxWidth = '100px'; // Adjust as needed
                        img.style.height = 'auto';
                        previewDiv.appendChild(img);
                    }
                }
                // Update preview on page load
                window.onload = updateAvatarPreview;
            </script>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
    {# Leave the footer block empty to exclude the footer #}
{% endblock %}
