{% extends 'index.html' %}
{% load i18n %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">{% trans "Edit Profile:" %} {{ user.username }}</h2>
		{% if messages %}
		<div class="list-group">
		  {% for message in messages %}
		  <div class="list-group-item list-group-item-danger">{{ message }}</div>
		  {% endfor %}
		</div>
		{% endif %}
        <form action="editProfile" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="displayName">{% trans "Display Name" %}</label>
            <input type="name" class="form-control" id="displayName" placeholder="{% trans 'Enter your Display Name' %}" name="displayName" />
          </div>
          <div class="form-group">
            <label for="Name">{% trans "Firstname" %}</label>
            <input type="name" class="form-control" id="inputName" placeholder="{% trans 'Enter your Firstame' %}" name="name" />
          </div>
          <div class="form-group">
            <label for="Surname">{% trans "Surname" %}</label>
            <input type="surname" class="form-control" id="inputSureName" placeholder="{% trans 'Enter your Surname' %}" name="surname" />
          </div>
          <div class="form-group">
            <label for="inputEmail">{% trans "Email address" %}</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="{% trans 'Enter email' %}" name="email" />
          </div>
          <div class="form-group">
            <label for="language-select">{% trans "Language" %}</label>
            <select name="language" id="language-select" class="form-control">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                  {{ language.name_translated }}
                </option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-block">{% trans "Save Profile" %}</button>
        </form>
        {% comment %} <form action="editProfile" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="Name">{% trans "Name" %}</label>
            <input type="name" class="form-control" id="inputName" placeholder="{% trans 'Enter your name' %}" name="name" />
          </div>
          <div class="form-group">
            <label for="Surname">{% trans 'Surname' %}</label>
            <input type="surname" class="form-control" id="inputSurName" placeholder="{% trans 'Enter your Surname' %}" name="surname" />
          </div>
          <div class="form-group">
            <label for="inputEmail">{% trans 'Email address' %}</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="{% trans 'Enter email' %}" name="email" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">{% trans "Save Profile" %}</button>
        </form> {% endcomment %}
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
    {# Leave the footer block empty to exclude the footer #}
{% endblock %}
