{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Pong - The ultimate tournament" %}</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link  href="{% static 'pong.css' %}" rel="stylesheet">
    <link  href="{% static 'memory.css' %}" rel="stylesheet">
    <script src="{% static 'setMemoryGames.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <div class="header">
        <img class="gif-logo" src="{% static 'img/gamer.gif' %}" alt="Our pong logo">
        <h1 id="title">{% trans "42 Pong" %}</h1>
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <div class="dropdown">
                        <select name="language" class="dropbtn" onchange="this.form.submit()">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                            {{ language.name_local }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
                <!-- <script src="{% static '../statics/language_switch.js' %}"></script> -->
                <li><a class="nav-link" href="Home">{% trans "Home" %}</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">{% trans "Games" %}</button>
                        <div class="dropdown-content">
                            <a class="nav-link" href="gamePong">{% trans "Pong" %}</a>
                            <a class="nav-link" href="gameMemory">{% trans "Memory" %}</a>
                        </div>
                    </div>
                <li>
                    <a class="nav-link" href="scoreboard">{% trans "Scoreboard" %}</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="showProfile">{% trans "Profile" %}</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="signOut">{% trans "Sign Out" %}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="signIn">{% trans "Sign In" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signUp">{% trans "Sign Up" %}</a>
                </li>



                {% endif %}

            </ul>
        </nav>
    </div>
    {% block content%}

    {% endblock %}
    <main id="content">
    </main>

    {% block footer %}
    <div class="footer">
        <div class="footer-text">
            <p>{% trans "This website has been created for the last project of 42 by:" %}</p>
        </div>
        <div class="names">
            <div class="name">
                <p>{% trans 'Mariia Paraskun' %}</p>
                <div class="pictures_team">
                    <img src="{% static 'img/pictures_team/mariia.png' %}" alt="Mariia">
                </div>
                <div class="socials">
                    <a class="social_logo" href="https://www.linkedin.com/in/mariia-paraskun-57546122b/"
                        target="_blank"><img class="linkedin" src="{% static 'img/linkedin.png' %}" alt="linkedin"></a>
                    <a class="social_logo" href="https://www.github.com/mariiamakura" target="_blank"><img
                            class="github" src="{% static 'img/github.png' %}" alt="github"></a>
                </div>
                <div class="circle"></div>
            </div>
            <div class="name">
                <p>{% trans 'Sung Hyan Lee' %}</p>
                <div class="pictures_team">
                    <img src="{% static 'img/pictures_team/sunny.jpeg' %}" alt="Sunny">
                </div>
                <div class="socials">
                    <a class="social_logo" href="https://www.linkedin.com/in/sung-hyan-lee-a797a227b/"
                        target="_blank"><img class="linkedin" src="{% static 'img/linkedin.png' %}" alt="linkedin"></a>
                    <a class="social_logo" href="https://github.com/sunny42B" target="_blank"><img class="github"
                            src="{% static 'img/github.png' %}" alt="github"></a>
                </div>
            </div>
            <div class="name">
                <p>{% trans 'Max Schaub' %}</p>
                <div class="pictures_team">
                    <img src="{% static 'img/pictures_team/max.png' %}" alt="Max">
                </div>
                <div class="socials">
                    <a class="social_logo" href="https://www.linkedin.com/in/max-schaub-579b0b1a0/" target="_blank"><img
                            class="linkedin" src="{% static 'img/linkedin.png' %}" alt="linkedin"></a>
                    <a class="social_logo" href="https://www.github.com/mars12161" target="_blank"><img class="github"
                            src="{% static 'img/github.png' %}" alt="github"></a>
                </div>
            </div>
            <div class="name">
                <p>{% trans 'Feras Hassouneh' %}</p>
                <div class="pictures_team">
                    <img src="{% static 'img/pictures_team/feras.png' %}" alt="Feras">
                </div>
                <div class="socials">
                    <a class="social_logo" href="https://www.linkedin.com/in/feras-hassouneh-09b79b25a/"
                        target="_blank"><img class="linkedin" src="{% static 'img/linkedin.png' %}" alt="linkedin"></a>
                    <a class="social_logo" href="https://www.github.com/fhassoun" target="_blank"><img class="github"
                            src="{% static 'img/github.png' %}" alt="github"></a>
                </div>
            </div>
            <div class="name">
                <p>{% trans 'Emilie Drouot' %}</p>
                <div class="pictures_team">
                    <img src="{% static 'img/pictures_team/emilie.png' %}" alt="Emilie">
                </div>
                <div class="socials">
                    <a class="social_logo" href="https://www.linkedin.com/in/emilie-drouot/" target="_blank"><img
                            class="linkedin" src="{% static 'img/linkedin.png' %}" alt="linkedin"></a>
                    <a class="social_logo" href="https://www.github.com/EmilieD8" target="_blank"><img class="github"
                            src="{% static 'img/github.png' %}" alt="github"></a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
<script>

    {% if request.user.is_authenticated %}
    let khostName = "{{ user.display_name }}";
    khostName = khostName.replace(/-/g, "");
    let ksanitizedRoomName = encodeURIComponent(`${khostName}`).replace(/'/g, "").replace(/-/g, ""); // Sanitize and remove special characters
    console.log(ksanitizedRoomName);
    let ksocket = new WebSocket(`wss://${window.location.host}/wss/keep-alive/${ksanitizedRoomName}/`);


    ksocket.onopen = function () {
        console.log("[open] Connection established");
        setInterval(() => {
			if (ksocket.readyState === WebSocket.OPEN) {
				console.log('sending Keep alive');
				ksocket.send(JSON.stringify({'action': 'alive'}));
			}
		}, 1000);
    };

    ksocket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        if (data.action === 'keep_alive') {
			console.log('receiving keepalive');
            ksocket.send(JSON.stringify({

                'action': 'alive'
            }));
        }
		
    };
    ksocket.onclose = function () {
    };

	window.addEventListener('beforeunload', function (event) {
		// Attempt to send a disconnection message
		if (ksocket.readyState === WebSocket.OPEN) {
			ksocket.send(JSON.stringify({'action': 'disconnecting', 'code': 1000}));
			
		}
		
		// Close the socket
		{% comment %} ksocket.close(); {% endcomment %}
	});

	
	window.addEventListener('unload', function (event) {
		// Ensure the socket is closed if not already done
		if (ksocket.readyState !== WebSocket.CLOSED) {
			ksocket.close();

		}
		return'';
	});
    
</script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>