{% extends "index.html" %}
{% load i18n %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">{% trans "Profile" %}</h1>
			<div class="col-md-12 text-center">
				<a class="nav-link" href="showFriends">{% trans "Show Friendlist" %}</a>
			</div>
			<hr>
			<div class="text-center">
                <img src="{{ user.avatar_url }}" style="width: 20%; height: auto; border-radius: 50%;">
				<div class="col-md-12" align="center">
					<hr>
					<a class="nav-link" href="changeAvatar">{% trans "Change Avatar" %}</a>
				</div>
				
			</div>
			<div class="row">
				<div class="col-md-6">
					<h3>{% trans "Account Information" %}</h3>
					<hr>
					<p><strong>{% trans "Intraname:" %}</strong> {{ user.username }}</p>
					<p><strong>{% trans "Display Name:" %}</strong> {{ user.display_name }}</p>
					<p><strong>{% trans "Email:" %}</strong> {{ user.email }}</p>
					<p><strong>{% trans "Date of Creation:" %}</strong> {{ user.date_of_creation }}</p>
				</div>
				<div class="col-md-6">
					<h3>{% trans "Personal Information" %}</h3>
					<hr>
					<p><strong>{% trans "Firstname:" %}</strong> {{ user.name }}</p>
					<p><strong>{% trans "Lastname:" %}</strong> {{ user.surname }}</p>
					<p><strong>{% trans "Language:" %}</strong> {{ user.language }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" align="center">
			<hr>
			<a class="nav-link" href="editProfile">{% trans "Edit Profile" %}</a>
		</div>
	</div>		
</div>



{% endblock  %}
{% block footer %}
    {# Leave the footer block empty to exclude the footer #}
{% endblock %}













def changeAvatar(request):
    User = get_user_model()
    if request.user.is_authenticated:
        user = User.objects.get(username=request.user.username)  # Ensure you're using the correct attribute for username
        if request.method == 'POST':
            avatar_url = request.POST.get('avatar_url', '').strip()
            uploaded_file = request.FILES.get('avatar_file')
            selected_avatar = request.POST.get('static_avatar')

            if avatar_url:
                # Handle URL input
                user.avatar_url = avatar_url
            elif uploaded_file:
                # Handle file upload
                fs = FileSystemStorage()
                file_name = fs.save(uploaded_file.name, uploaded_file)
                uploaded_file_url = fs.url(file_name)
                user.avatar_url = request.build_absolute_uri(uploaded_file_url)
            elif selected_avatar:
                # Handle static file selection
                robot_avatars_path = os.path.join(settings.STATIC_ROOT, 'img', 'Robot')
                if selected_avatar in os.listdir(robot_avatars_path):
                    user.avatar_url = os.path.join(settings.STATIC_URL, 'img', 'Robot', selected_avatar)

            user.last_modified = now()
            user.save()
            return render(request=request, template_name="profile.html", context={"user": user})
        else:
            # List available .png avatars from static folder with URLs for preview
            robot_avatars_path = os.path.join(settings.STATIC_ROOT, 'img', 'Robot')
            robot_avatars_url = os.path.join(settings.STATIC_URL, 'img', 'Robot')
            available_avatars = [(file, os.path.join(robot_avatars_url, file))
                                 for file in os.listdir(robot_avatars_path)
                                 if os.path.isfile(os.path.join(robot_avatars_path, file)) and file.endswith('.png')] if os.path.isdir(robot_avatars_path) else []
            return render(request, 'changeAvatar.html', {'user': user, 'available_avatars': available_avatars})
    else:
        messages.error(request, 'You are not signed in! Please sign in to edit your profile.')
        return redirect('signIn')