{% extends "index.html" %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
                <h2 class="text-center mb-4">{% trans "Friendlist" %}</h2>
                <div id="messages">
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                    {% endfor %}
                </div>
				{% if not friends %}
					<p id="noFriends">{% trans "You have no friends yet." %} 😢</p>
				{% endif %}
                <form id="removeFriendsForm" method="POST" action="removeFriends">
                    {% csrf_token %}
                    <ul id="friendsList" class="list-group">
                        {% for friend in friends %}
                        <li id="friend-{{ friend.user_id }}" class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="friend_ids" value="{{ friend.user_id }}">
                                <label class="form-check-label">
                                    {{ friend.username }}
                                    {% if friend.online %}
                                    <span class="text-success">● {% trans "Online" %}</span>
                                    {% else %}
                                    <span class="text-danger">● {% trans "Offline" %}</span>
                                    {% endif %}
                                </label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <button type="submit" class="btn btn-danger mt-3">{% trans "Remove Selected Friends" %}</button>
                </form>
                <form id="searchUserForm" class="mt-4">
                    <div class="input-group">
                        <input type="text" name="username" class="form-control" placeholder="{% trans 'Search for users...' %}" autocomplete="username"> 
                        <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
                    </div>
                </form>
                
                <div id="searchResults" class="mt-4"></div>
                
            <script>
                window.addEventListener('DOMContentLoaded', function() {
					var searchUserForm = document.getElementById('searchUserForm');
					if (searchUserForm) {
						searchUserForm.addEventListener('submit', function(e) {
							e.preventDefault();
							var username = this.elements['username'].value;
				
							fetch(`/searchUsers/?username=${username}`)
								.then(response => response.json())
								.then(data => {
									if (data.error) {
										displayMessage(data.error, false);
									} else {
										let addUserHtml = `
											<div class="card mt-3">
												<div class="card-body">
													<p>${data.username} (${data.online ? '{% trans "Online" %}' : '{% trans "Offline" %}'})</p>
													<button onclick="addFriend('${data.username}')" class="btn btn-success">{% trans 'Add Friend'  %}</button>
												</div>
											</div>
										`;
										document.getElementById('searchResults').innerHTML = addUserHtml;
									}
								})
								.catch(error => {
									console.error('Error during fetch:', error);
									displayMessage(`An error occurred: ${error.message}`, false);
								});
						});
					}
				
                
					var removeFriendsForm = document.getElementById('removeFriendsForm');
					if (removeFriendsForm) {
						removeFriendsForm.addEventListener('submit', function(e) {
                    e.preventDefault(); 
                    var formData = new FormData(this);
                    var friendIdsToRemove = formData.getAll('friend_ids'); 
					if (friendIdsToRemove.length === 0) {
						displayMessage('Please select at least one friend to remove.', false);
						return;
					}
					
                    fetch('/removeFriends/', { 
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ friend_ids: friendIdsToRemove })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if(data.success) {
                            friendIdsToRemove.forEach(id => {
                                document.getElementById(`friend-${id}`).remove();
                            });
                            displayMessage(data.message, true);
                        } else {
                            displayMessage(data.error || 'An error occurred', false);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        displayMessage('An error occurred. Please try again.', false);
                    });
					refreshPage()
                });
                
			};
		});
		
                function addFriend(username) {
                    fetch('/addFriend/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        body: JSON.stringify({ username_: username })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if(data.error) {
                            displayMessage(data.error, false);
                        } else {
                            updateFriendList(username, data); 
                            displayMessage("Friend added successfully.", true);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        displayMessage('An error occurred while attempting to add a friend. Please try again.', false); 
                    });
					refreshPage();
                }
                
				function updateFriendList(username, data) {
					let friendList = document.getElementById('friendsList');
				
					if (!friendList) {
						friendList = document.createElement('ul');
						friendList.id = 'friendsList';
						friendList.className = 'list-group';
						const formContainer = document.querySelector('.container .row .col-md-6'); 
						const searchUserForm = document.getElementById('searchUserForm');
						formContainer.insertBefore(friendList, searchUserForm);
					}
					{% comment %} if (noFriends) {
						noFriends.remove();
					} {% endcomment %}
					const newFriend = document.createElement('li');
					newFriend.id = `friend-${data.user_id}`;
					newFriend.className = "list-group-item";
					newFriend.innerHTML = `
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="friend_ids" value="${data.user_id}">
							<label class="form-check-label">
								${username} 
								<span class="text-${data.online ? 'success' : 'danger'}">● ${data.online ? "Online" : "Offline"}</span>
							</label>
						</div>
					`;
					friendList.appendChild(newFriend);
				}

                function displayMessage(message, isSuccess) {
                    var messageArea = document.getElementById('messages'); 
                    var newMessage = document.createElement('div');          
                    newMessage.innerHTML = `<div class="alert ${isSuccess ? 'alert-success' : 'alert-danger'}">${message}</div>`; // Display message in an alert box
                    messageArea.prepend(newMessage); 
                    setTimeout(() => newMessage.remove(), 5000);
                }

                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
				function refreshPage() {
					setTimeout(() => {
						location.reload();
					}, 1000);
				}
            </script>
        </div>
    </div>
</div>

{% endblock  %}
{% block footer %}
    {# Leave the footer block empty to exclude the footer #}
{% endblock %}