Django[argon2]==5.0.2
gunicorn==21.2.0
psycopg2-binary==2.9.6
faker
channels==4.0.0
daphne==4.1.0
channels-redis==4.2.0
# aioredis==2.0.1
# async-timeout>=4.0.2
asyncio_redis==0.16.0
asgiref==3.7.0
requests
# oauthlib
django-cors-headers
argon2-cffi==23.1.0
# django[argon2]


